Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.11
Adafruit-SSD1306==1.6.2
affine==2.4.0
attrs==23.2.0
certifi==2024.2.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.1
cycler==0.12.1
dbr==9.6.40.1
fonttools==4.50.0
importlib_resources==6.4.0
install==1.3.5
kiwisolver==1.4.5
matplotlib==3.8.4
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==24.0
paho-mqtt==2.0.0
pillow==10.3.0
pkg_resources==0.0.0
pylibdmtx==0.1.10
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pyzbar==0.1.9
rasterio==1.3.9
RPi.GPIO==0.7.1
six==1.16.0
snuggs==1.4.7
spidev==3.6
subprocess32==3.5.4
zbarlight==3.1.dev0
zipp==3.18.1
zxing-cpp==2.2.0
